# Normal/Single-Resolution Panos
# Skin with Default Buttons
# Documentation: http://krpano.com/tools/kmakemultires/config?version=118
# krpano 1.18


# basic settings
include basicsettings.config
panotype=autodetect
hfov=360


# output
flash=true
html5=true


# convert spherical/cylindrical to cubical
converttocube=true
converttocubelimit=360x45


# multiresolution settings
multires=false
maxsize=8000
maxcubesize=2048


# output images path
tilepath=%INPUTPATH%/%BASENAME%/tiles/pano[_c].jpg
tilesize = 1024

# preview pano settings
preview=true
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/%BASENAME%/tiles/preview.jpg

# xml output
xml=false

# html output/template
html=false
